/**
 * Copyright 2023 Christina Frederikke Nissen, Elisabeth Fredrich
 *
 * This file is part of e-voting-system-auto-replace.
 *
 * e-voting-system-auto-replace is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * e-voting-system-auto-replace is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with e-voting-system-auto-replace. If not, see <https://www.gnu.org/licenses/>.
 */

.voting-options {
  color: #1c4e81;
  align-items: end;
}

.radio-group {
  border-top: solid 1px rgba(0, 0, 0, 0.275);
  border-left: solid 1px #00000046;
  border-right: solid 1px #00000046;
  margin-bottom: 2rem;
}

.radio {
  border-color: var(--primary_blue) !important;
}

.radio[data-checked] {
  border-color: var(--secondary_darkblue) !important;
  background-color: var(--secondary_darkblue) !important;
}

.voting-option {
  margin: 0 !important;
  border-bottom: solid 1px #00000046;
}

.voting-option:hover {
  background-color: var(--secondary_blue);
}

.voting-option > label {
  display: grid;
  grid-template-columns: 1fr 10fr;
  height: 100%;
  padding: 3rem 2rem;
}

.voting-option > label > span:last-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* PopOver */
.pop-over-container{
  background-color: var(--secondary_blue) !important;
}
@media (max-width: 960px) {
  .pop-over-container{
    max-width: 33rem !important;
    padding:1.5rem !important;
  }
  .no-button {
    min-width: 5rem;
  }
}
@media (min-width: 960px) {
  .pop-over-container{
    width: 100% !important;
    padding:2rem !important;

  }
  .no-button {
    min-width: 10rem;
  }
}
.pop-over-body{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.pop-over-text{
  margin-bottom:2rem;
  margin-top:1rem;
  color:var(--primary_blue);
  font-weight: 600;
  font-size: 1.2rem;
}
.no-button {
  border: 1.5px solid var(--primary_blue) !important;
  margin-right: 1rem;
  margin-left: 0.5rem;
  color: var(--primary_blue);
  font-size: 1rem !important;
  font-weight: 600;
  padding: 1.15rem 2rem !important;
  position: relative !important;
  top: 0 !important;
}
